	/*
  	Flaticon icon font: Flaticon
  	Creation date: 01/08/2020 13:32
  	*/

	@font-face {
		font-family: "Flaticon";
		src: url("../fonts/Flaticon.eot");
		src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
			url("../fonts/Flaticon.woff2") format("woff2"),
			url("../fonts/Flaticon.woff") format("woff"),
			url("../fonts/Flaticon.ttf") format("truetype"),
			url("../fonts/Flaticon.svg#Flaticon") format("svg");
		font-weight: normal;
		font-style: normal;
	}

	@media screen and (-webkit-min-device-pixel-ratio:0) {
		@font-face {
			font-family: "Flaticon";
			src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
		}
	}

	[class^="flaticon-"]:before,
	[class*=" flaticon-"]:before,
	[class^="flaticon-"]:after,
	[class*=" flaticon-"]:after {
		font-family: Flaticon;
		font-size: 20px;
		font-style: normal;
	}

	.flaticon-drilling-machine:before {
		content: "\f100";
	}

	.flaticon-engineer:before {
		content: "\f101";
	}

	.flaticon-oil-pump:before {
		content: "\f102";
	}

	.flaticon-plumber:before {
		content: "\f103";
	}

	.flaticon-crane:before {
		content: "\f104";
	}

	.flaticon-bulldozer:before {
		content: "\f105";
	}

	.flaticon-tow-truck:before {
		content: "\f106";
	}

	.flaticon-crane-1:before {
		content: "\f107";
	}

	.flaticon-factory:before {
		content: "\f108";
	}

	.flaticon-process:before {
		content: "\f109";
	}

	.flaticon-factory-1:before {
		content: "\f10a";
	}

	.flaticon-helmet:before {
		content: "\f10b";
	}

	.flaticon-lab-tool:before {
		content: "\f10c";
	}

	.flaticon-eco-energy:before {
		content: "\f10d";
	}

    .flaticon-certificate {
        background-image: url(../img/icon/certificate.png);
        background-size: cover;
        height: 45px;
        width: 45px;
        margin-top: -13px;
        margin-left: 5px;
    }

    .flaticon-paint-roller {
        background-image: url(../img/icon/paint-roller.png);
        background-size: cover;
        height: 45px;
        width: 45px;
        margin-top: -13px;
        margin-left: 5px;
    }

    .flaticon-recycle {
        background-image: url(../img/icon/recycle-sign.png);
        background-size: cover;
        height: 45px;
        width: 45px;
        margin-top: -13px;
        margin-left: 5px;
    }
